:root{
    --line-border-fill:#3498db;
    --line-border-empty:#e0e0e0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f7f6;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: 350px;
    position: relative;
}

.progress-container::before{
    content: "";
    background-color:var(--line-border-empty);
    height: 4px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    z-index: -1;
}

.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    height: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 0%;
    z-index: -1;
    transition: width 0.3 ease;
}

.circle{
    background-color: #fff;
    color: #999;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--line-border-empty);
}

.circle.active{
    border-color: var(--line-border-fill);
    transition: border-color 0.3s ease;
}

.btn{
    background-color: var(--line-border-fill);
    color: #fff;
    border-radius: 5px;
    padding: 8px 30px;
    border: 0;
    font-size: 14px;
    margin: 5px;
}

.btn:active{
    transform: scale(0.98);
}

.tn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}
